<% content_for :title, "Editing booking vip customer discount" %>

<h1>Editing booking vip customer discount</h1>

<%= render "form", booking_vip_customer_discount: @booking_vip_customer_discount %>

<br>

<div>
  <%= link_to "Show this booking vip customer discount", @booking_vip_customer_discount %> |
  <%= link_to "Back to booking vip customer discounts", booking_vip_customer_discounts_path %>
</div>
