<p style="color: green"><%= notice %></p>

<%
page_title = BookingVipCustomerDiscount.model_name.human.pluralize(I18n.locale)
content_for :title, page_title
%>

<%= render partial: "shared/header_actions", locals: { title: page_title } %>

<div id="booking_vip_customer_discounts" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @records.each do |booking_vip_customer_discount| %>
    <%= render booking_vip_customer_discount %>
  <% end %>
</div>

<%= render 'shared/index_footer' %>
