<% content_for :title, "Editing booking discount" %>

<h1>Editing booking discount</h1>

<%= render "form", booking_discount: @booking_discount %>

<br>

<div>
  <%= link_to "Show this booking discount", @booking_discount %> |
  <%= link_to "Back to booking discounts", booking_discounts_path %>
</div>
