<p style="color: green"><%= notice %></p>

<%
page_title = BookingDiscount.model_name.human.pluralize(I18n.locale)
content_for :title, page_title
%>

<%= render partial: "shared/header_actions", locals: { title: page_title } %>

<%= render 'shared/index_records' %>
