<p style="color: green"><%= notice %></p>

<% content_for :title, "Booking discounts" %>

<h1>Booking discounts</h1>

<div id="booking_discounts" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @booking_discounts.each do |booking_discount| %>
    <%= render booking_discount %>
    <p>
      <%= link_to "Show this booking discount", booking_discount %>
    </p>
  <% end %>
</div>

<%= link_to "New booking discount", new_booking_discount_path %>
