<p style="color: green"><%= notice %></p>

<% content_for :title, "Booking discounts" %>

<h1>Booking discounts</h1>

<div id="booking_discounts">
  <% @booking_discounts.each do |booking_discount| %>
    <%= render booking_discount %>
  <% end %>
</div>

<%= link_to "New booking discount", new_booking_discount_path %>
