<% content_for :title, "New booking discount" %>

<h1>New booking discount</h1>

<%= render "form", booking_discount: @booking_discount %>

<br>

<div>
  <%= link_to "Back to booking discounts", booking_discounts_path %>
</div>
