<% content_for :title, "Editing vip customer benefit" %>

<h1>Editing vip customer benefit</h1>

<%= render "form", vip_customer_benefit: @vip_customer_benefit %>

<br>

<div>
  <%= link_to "Show this vip customer benefit", @vip_customer_benefit %> |
  <%= link_to "Back to vip customer benefits", vip_customer_benefits_path %>
</div>
