<% content_for :title, "New vip customer benefit" %>

<h1>New vip customer benefit</h1>

<%= render "form", vip_customer_benefit: @vip_customer_benefit %>

<br>

<div>
  <%= link_to "Back to vip customer benefits", vip_customer_benefits_path %>
</div>
