<div id="<%= dom_id special_request %>">
  <p>
    <strong>Reservation:</strong>
    <%= special_request.reservation_id %>
  </p>

  <p>
    <strong>Request:</strong>
    <%= special_request.request %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= special_request.price %>
  </p>

</div>
