<% content_for :title, "Editing special request" %>

<h1>Editing special request</h1>

<%= render "form", special_request: @special_request %>

<br>

<div>
  <%= link_to "Show this special request", @special_request %> |
  <%= link_to "Back to special requests", special_requests_path %>
</div>
