<p style="color: green"><%= notice %></p>

<% content_for :title, "Special requests" %>

<h1>Special requests</h1>

<div id="special_requests" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @special_requests.each do |special_request| %>
    <%= render special_request %>
  <% end %>
</div>

<%= link_to "New special request", new_special_request_path %>
