<% content_for :title, "Editing booking additional service" %>

<h1>Editing booking additional service</h1>

<%= render "form", booking_additional_service: @booking_additional_service %>

<br>

<div>
  <%= link_to "Show this booking additional service", @booking_additional_service %> |
  <%= link_to "Back to booking additional services", booking_additional_services_path %>
</div>
