<p style="color: green"><%= notice %></p>

<% content_for :title, "Booking additional services" %>

<h1>Booking additional services</h1>

<div id="booking_additional_services">
  <% @booking_additional_services.each do |booking_additional_service| %>
    <%= render booking_additional_service %>
  <% end %>
</div>

<%= link_to "New booking additional service", new_booking_additional_service_path %>
