<p style="color: green"><%= notice %></p>

<% content_for :title, "Booking additional services" %>

<h1>Booking additional services</h1>

<div id="booking_additional_services" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @booking_additional_services.each do |booking_additional_service| %>
    <%= render booking_additional_service %>
    <p>
      <%= link_to "Show this booking additional service", booking_additional_service %>
    </p>
  <% end %>
</div>

<%= link_to "New booking additional service", new_booking_additional_service_path %>
