<% content_for :title, "New booking additional service" %>

<h1>New booking additional service</h1>

<%= render "form", booking_additional_service: @booking_additional_service %>

<br>

<div>
  <%= link_to "Back to booking additional services", booking_additional_services_path %>
</div>
