<div class='row g-3 row-cols-1 row-cols-md-2 row-cols-xl-3'>
  <% if @booking.booking_vip_customer_discounts.empty? %>
    <div class="flex-grow-1">
      <div class="alert mb-0 alert-secondary hover-shadow">
        <%= t('base.no_records_found') %>
      </div>
    </div>
  <% else %>
    <% @booking.booking_vip_customer_discounts.each do |booking_vip_customer_discount| %>
      <div class="col">
        <div class="alert mb-0 alert-secondary hover-shadow">
          <h5>
            <%= booking_vip_customer_discount.to_s.html_safe %>
          </h5>
          <p class='mb-0'>
            <%= booking_vip_customer_discount.summary %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
