<p style="color: green"><%= notice %></p>

<% content_for :title, "Additional services" %>

<h1>Additional services</h1>

<div id="additional_services" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @additional_services.each do |additional_service| %>
    <%= render additional_service %>
  <% end %>
</div>

<%= link_to "New additional service", new_additional_service_path %>
