<div id="<%= dom_id facility %>">
  <p>
    <strong>Name:</strong>
    <%= facility.name %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= facility.summary %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= facility.status %>
  </p>

</div>
