<p style="color: green"><%= notice %></p>

<% content_for :title, "Facilities" %>

<h1>Facilities</h1>

<div id="facilities" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @facilities.each do |facility| %>
    <%= render facility %>
  <% end %>
</div>

<%= link_to "New facility", new_facility_path %>
