<% if vip_customers_benefits.empty? %>
  <div class="flex-grow-1">
    <div class="alert mb-0 alert-secondary hover-shadow">
      <%= t('base.no_records_found') %>
    </div>
  </div>
<% else %>
  <div class='row g-3 row-cols-1 row-cols-md-2 row-cols-xl-3'>
    <% vip_customers_benefits.each do |vip_customers_benefit| %>
      <div class="col">
        <div class="alert mb-0 alert-secondary hover-shadow">
          <h5>
            <i class="bi bi-person-badge"></i>
            <%= VipCustomersBenefit.human_attribute_name(:discount_type) %>: <%= render_enum_field(vip_customers_benefit, :discount_type) %>
          </h5>
          <p class='mb-0'>
            <%= render_text_field(vip_customers_benefit, :summary).gsub("\n", '<br />').html_safe %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
