<% content_for :title, "Editing hotel location" %>

<h1>Editing hotel location</h1>

<%= render "form", hotel_location: @hotel_location %>

<br>

<div>
  <%= link_to "Show this hotel location", @hotel_location %> |
  <%= link_to "Back to hotel locations", hotel_locations_path %>
</div>
