<p style="color: green"><%= notice %></p>

<%
page_title = HotelLocation.model_name.human.pluralize(I18n.locale)
content_for :title, page_title
%>

<h1><%= page_title %></h1>

<div id="hotel_locations" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @hotel_locations.each do |hotel_location| %>
    <%= render hotel_location %>
  <% end %>
</div>

<%= link_to "New hotel location", new_hotel_location_path %>
