<p style="color: green"><%= notice %></p>

<% content_for :title, "Hotel locations" %>

<h1>Hotel locations</h1>

<div id="hotel_locations">
  <% @hotel_locations.each do |hotel_location| %>
    <%= render hotel_location %>
  <% end %>
</div>

<%= link_to "New hotel location", new_hotel_location_path %>
