<p style="color: green"><%= notice %></p>

<% content_for :title, "Payments" %>

<h1>Payments</h1>

<div id="payments" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @payments.each do |payment| %>
    <%= render payment %>
    <p>
      <%= link_to "Show this payment", payment %>
    </p>
  <% end %>
</div>

<%= link_to "New payment", new_payment_path %>
