<% content_for :title, "Editing vip customers benefit" %>

<h1>Editing vip customers benefit</h1>

<%= render "form", vip_customers_benefit: @vip_customers_benefit %>

<br>

<div>
  <%= link_to "Show this vip customers benefit", @vip_customers_benefit %> |
  <%= link_to "Back to vip customers benefits", vip_customers_benefits_path %>
</div>
