<p style="color: green"><%= notice %></p>

<% content_for :title, "Vip customers benefits" %>

<h1>Vip customers benefits</h1>

<div id="vip_customers_benefits">
  <% @vip_customers_benefits.each do |vip_customers_benefit| %>
    <%= render vip_customers_benefit %>
  <% end %>
</div>

<%= link_to "New vip customers benefit", new_vip_customers_benefit_path %>
