.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

@media (max-width: 992px) {
  .content {
    margin-left: 0;
  }
}

.dropdown-locale {
  --bs-dropdown-min-width: 5rem;
}

.dropdown-locale img {
  width: 24px;
}
