<p style="color: green"><%= notice %></p>

<%
page_title = Review.model_name.human.pluralize(I18n.locale)
content_for :title, page_title
%>

<h1><%= page_title %></h1>

<div id="reviews" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
  <% @reviews.each do |review| %>
    <%= render review %>
  <% end %>
</div>

<%= link_to "New review", new_review_path %>
