<!DOCTYPE html>
<html data-bs-theme='auto' lang='en' class='h-100'>
  <%= render 'layouts/head' %>

  <body class='h-100 bg-body-tertiary'>
    <div class='d-flex container h-100 align-items-center w-100 justify-content-center'>
      <%= yield %>
    </div>
  </body>
</html>
